alabaster==0.7.12
arrow==1.2.2
astroid==2.11.2
atomicwrites==1.4.0
attrs==21.4.0
autopep8==1.6.0
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.10.0
binaryornot==0.4.4
black==22.3.0
bleach==4.1.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.0.4
cloudpickle==2.0.0
colorama==0.4.4
coloredlogs==15.0.1
cookiecutter==1.7.3
cryptography==36.0.2
cycler==0.11.0
Cython==0.29.28
debugpy==1.5.1
